include head

div(class='wrap')
  div(class='content')
    header(class='jumbotron')
      include order_header

    div(class='container')
      div(class='row')
        div(class='col col-md-12')
          h3(class="cart-header") Cart
          div(id='cart-nav')
        div(class='col col-md-12')
          h3 Create order 
        div(class='col col-md-6 ')
          form#lite-shop-order(action="")
                  div(class='form-group')
                    label(for='username') Name
                    input(
                        class="form-control"
                        type='text',
                        id='username',
                        placeholder='Enter your name',
                        )
                  div(class='form-group')
                    label(for='phone') Phone
                    input(
                        class="form-control"
                        type='text',
                        id='phone',
                        placeholder='+380505555555',
                        )
                  div(class='form-group')
                    label(for='email') Email
                    input(
                        class="form-control"
                        type='text',
                        id='email',
                        placeholder='mail@example.com',
                        )
                  div(class='form-group')
                    label(for='address') Address
                    textarea(
                        class="form-control"
                        id='address',
                        placeholder='where are you',
                        )
                  div(class='form-group')
                    label(for='rule') 
                      input(
                          class="form-control"
                          type='checkbox',
                          id='rule',
                          value='1'
                          ) 
                      span  Terms and Conditions
                  div(class='form-control text-right')
                    button(class='button-primary', type='submit') Finish order
    //include nav.pug

  include footer.pug
  script(src='js/order.js')

